menu "Example Configuration"

    config ESP_WIFI_SSID
        string "WiFi SSID"
        default ""
        help
            SSID (network name) for the example to connect to.
    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        default ""
        help
            WiFi password (WPA or WPA2) for the example to use.
    config OPENAI_API_KEY
        string "OpenAI Key"
        default ""
        help
            OpenAI api key for the example to use.
    config OPENAI_MODEL
        string "OpenAI model"
        default "gpt-3.5-turbo"
        help
            OpenAI model eg gpt-3.5-turbo (chatgpt).

    config VOICE_ID
        string "Speaker Id"
        default "kaolam_diantai"
        help
            speaker id from https://czyt.tech/post/a-free-tts-api/?from_wecom=1
    config VOLUME_LEVEL
        int "volume level"
        default "90"
        range 1 100
        help
            speaker volume
    config MAX_TOKEN
        int "Chat GPT Response Token"
        default 500
        range 1 2048
        help
            Chat GPT response token between 1 - 2048.            
    config ESP_MAXIMUM_RETRY
        int "Maximum retry"
        default 5
        help
            Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.

endmenu